/* imports */

/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500&display=swap'); */

/* end of imports */

/* global vars  */

:root {
  --dummy: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Crect width='24' height='24' fill='white' fill-opacity='0.01'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='24' height='24' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --logo-black: url("data:image/svg+xml,%3Csvg width='102' height='77' viewBox='0 0 102 77' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M1.97482 0.777588C1.42254 0.777588 0.974823 1.2253 0.974823 1.77759V75.7942C0.974823 76.3465 1.42254 76.7942 1.97483 76.7942H100.641C101.193 76.7942 101.641 76.3465 101.641 75.7942V1.77759C101.641 1.2253 101.193 0.777588 100.641 0.777588H1.97482ZM95.6407 6.77759H54.3078V19.6979C63.2763 21.1345 70.1286 28.9075 70.1286 38.2809C70.1286 47.6543 63.2763 55.4273 54.3078 56.8639V70.7942H95.6407V57.6067H77.2169C76.6646 57.6067 76.2169 57.159 76.2169 56.6067V20.9651C76.2169 20.4128 76.6646 19.9651 77.2169 19.9651H95.6407V6.77759ZM95.6407 25.9651H82.2169V51.6067H95.6407V25.9651ZM48.3078 6.77759V19.6979C39.3392 21.1345 32.4869 28.9075 32.4869 38.2809C32.4869 47.6543 39.3392 55.4273 48.3078 56.8639V70.7942H6.97482V57.6067H25.3986C25.9509 57.6067 26.3986 57.159 26.3986 56.6067V20.9651C26.3986 20.4128 25.9509 19.9651 25.3986 19.9651H6.97482V6.77759H48.3078ZM6.97482 25.9651V51.6067H20.3986V25.9651H6.97482Z' fill='black'/%3E%3Cpath d='M64.7528 38.0029C65.0531 38.2005 65.0531 38.6409 64.7528 38.8385L45.338 51.6057C45.0055 51.8243 44.5632 51.5858 44.5632 51.1879L44.5632 25.6535C44.5632 25.2556 45.0055 25.0171 45.338 25.2357L64.7528 38.0029Z' fill='white'/%3E%3C/svg%3E%0A");
  --icon-down: url("data:image/svg+xml,%3Csvg width='8' height='8' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M3.48917 7.02902C3.5459 7.1273 3.68775 7.1273 3.74448 7.02902L6.94017 1.49394C6.9969 1.39567 6.92598 1.27283 6.81251 1.27283H0.421142C0.307667 1.27283 0.236745 1.39567 0.293483 1.49394L3.48917 7.02902Z' fill='%23159789'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='7' height='7' fill='white' transform='translate(0.116821 0.687805)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
  --icon-games: url("data:image/svg+xml,%3Csvg width='40' height='24' viewBox='0 0 40 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M31.3125 5.89246C31.479 5.79621 31.479 5.55585 31.3125 5.4596L27.8947 3.48369C27.728 3.38734 27.5196 3.50761 27.5196 3.70012V7.65194C27.5196 7.84445 27.728 7.96473 27.8947 7.86837L31.3125 5.89246Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6333 0.274185C21.2201 0.274185 20.8852 0.609148 20.8852 1.02234V10.2518C20.8852 10.665 21.2201 11 21.6333 11H36.5817C36.9949 11 37.3298 10.665 37.3298 10.2518V1.02234C37.3298 0.609147 36.9949 0.274185 36.5817 0.274185H21.6333ZM21.8815 10.0037V1.2705H36.3335V10.0037H21.8815Z' fill='%23159789'/%3E%3Cpath d='M31.3125 18.6183C31.479 18.522 31.479 18.2817 31.3125 18.1854L27.8947 16.2095C27.728 16.1132 27.5196 16.2334 27.5196 16.4259V20.3778C27.5196 20.5703 27.728 20.6905 27.8947 20.5942L31.3125 18.6183Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M21.6333 13C21.2201 13 20.8852 13.335 20.8852 13.7482V22.9777C20.8852 23.3909 21.2201 23.7258 21.6333 23.7258H36.5817C36.9949 23.7258 37.3298 23.3909 37.3298 22.9777V13.7482C37.3298 13.335 36.9949 13 36.5817 13H21.6333ZM21.8815 22.7295V13.9963H36.3335V22.7295H21.8815Z' fill='%23159789'/%3E%3Cpath d='M13.0975 5.89246C13.264 5.79621 13.264 5.55585 13.0975 5.4596L9.67968 3.48369C9.51301 3.38734 9.30456 3.50761 9.30456 3.70012V7.65194C9.30456 7.84445 9.51301 7.96473 9.67968 7.86837L13.0975 5.89246Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.41831 0.274185C3.00511 0.274185 2.67015 0.609148 2.67015 1.02234V10.2518C2.67015 10.665 3.00511 11 3.41831 11H18.3667C18.7799 11 19.1148 10.665 19.1148 10.2518V1.02234C19.1148 0.609147 18.7799 0.274185 18.3667 0.274185H3.41831ZM3.66647 10.0037V1.2705H18.1185V10.0037H3.66647Z' fill='%23159789'/%3E%3Cpath d='M13.0975 18.6183C13.264 18.522 13.264 18.2817 13.0975 18.1854L9.67968 16.2095C9.51301 16.1132 9.30456 16.2334 9.30456 16.4259V20.3778C9.30456 20.5703 9.51301 20.6905 9.67968 20.5942L13.0975 18.6183Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M3.41831 13C3.00511 13 2.67015 13.335 2.67015 13.7482V22.9777C2.67015 23.3909 3.00511 23.7258 3.41831 23.7258H18.3667C18.7799 23.7258 19.1148 23.3909 19.1148 22.9777V13.7482C19.1148 13.335 18.7799 13 18.3667 13H3.41831ZM3.66647 22.7295V13.9963H18.1185V22.7295H3.66647Z' fill='%23159789'/%3E%3C/svg%3E%0A");
  --icon-team: url("data:image/svg+xml,%3Csvg width='40' height='24' viewBox='0 0 40 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M10.9066 0.126984C8.03132 0.126984 5.85623 2.96085 5.85623 6.3135C5.85623 9.66591 8.02817 12.5 10.9066 12.5C11.9257 12.5 12.8551 12.0203 13.7476 11.3814C14.0281 11.1806 14.122 10.8268 14.0185 10.5245C13.8047 9.90026 13.6909 9.24579 13.6818 8.58533C13.6825 6.70305 14.2654 5.195 15.1213 3.68131C15.2349 3.48037 15.2553 3.22725 15.1502 3.00121C14.367 1.31744 12.6778 0.126984 10.9066 0.126984ZM6.85623 6.3135C6.85623 3.30033 8.77471 1.12698 10.9066 1.12698C12.2003 1.12698 13.5233 1.99184 14.186 3.30458C13.3137 4.87185 12.6818 6.52294 12.6818 8.58869L12.6819 8.59534C12.6912 9.30141 12.8037 10.0016 13.0151 10.6739C12.2392 11.2082 11.566 11.5 10.9066 11.5C8.77193 11.5 6.85623 9.32689 6.85623 6.3135Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M29.1023 0.126984C27.3375 0.126984 25.6392 1.31687 24.8581 3.00218C24.7536 3.22772 24.7739 3.48 24.8869 3.68043C25.7408 5.19514 26.3264 6.70328 26.3271 8.58533C26.3179 9.24616 26.2041 9.901 25.9901 10.5255C25.887 10.8262 25.9792 11.1785 26.2575 11.38C27.1428 12.021 28.0726 12.5 29.1023 12.5C31.9776 12.5 34.1527 9.66614 34.1527 6.3135C34.1527 2.96062 31.9744 0.126984 29.1023 0.126984ZM27.3271 8.58869C27.3271 6.52238 26.6921 4.87115 25.8225 3.30458C26.4831 1.99276 27.8133 1.12698 29.1023 1.12698C31.2314 1.12698 33.1527 3.30056 33.1527 6.3135C33.1527 9.32666 31.2342 11.5 29.1023 11.5C28.4322 11.5 27.7581 11.2079 26.9932 10.676C27.205 10.003 27.3176 9.30212 27.327 8.59534L27.3271 8.58869Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M20.0015 2.39921C17.1147 2.39921 14.9511 5.27786 14.9511 8.58573C14.9511 11.8936 17.1147 14.7722 20.0015 14.7722C22.8883 14.7722 25.0519 11.8936 25.0519 8.58573C25.0519 5.27809 22.8914 2.39921 20.0015 2.39921ZM15.9511 8.58573C15.9511 5.61084 17.8633 3.39921 20.0015 3.39921C22.1425 3.39921 24.0519 5.61061 24.0519 8.58573C24.0519 11.5606 22.1397 13.7722 20.0015 13.7722C17.8633 13.7722 15.9511 11.5606 15.9511 8.58573Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M6.51748 11.6695C6.38911 11.5228 6.21138 11.4761 6.0494 11.5067C3.58229 11.7733 1.30286 13.7595 1.30286 16.5504V20.8449C1.30286 21.2591 1.63865 21.5949 2.05286 21.5949H8.37549C8.78971 21.5949 9.12549 21.2591 9.12549 20.8449L9.12551 18.8226L9.12547 18.818C9.11832 18.041 9.26541 17.2702 9.55822 16.5504C9.79123 15.9775 10.1128 15.446 10.5104 14.975C10.8903 14.5248 10.6434 13.8151 10.0612 13.7032C8.69089 13.4399 7.44211 12.7265 6.51748 11.6695ZM6.63968 11.9993C6.63968 12.1834 6.54952 12.3273 6.42191 12.4125C6.554 12.3219 6.63968 12.1699 6.63968 11.9993ZM2.30286 16.5504C2.30286 14.4358 3.9816 12.8352 5.94705 12.5286C6.9158 13.5563 8.15935 14.2769 9.52281 14.6091C9.15935 15.0882 8.85952 15.6141 8.63192 16.1736C8.28956 17.0152 8.11744 17.9164 8.12549 18.8249V20.5949H2.30286V16.5504Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M24.9452 13.7894C24.7102 13.76 24.4869 13.846 24.3312 13.9986C23.0407 15.2631 21.6088 16.0474 20.0015 16.0474C18.3939 16.0474 16.962 15.2656 15.6722 13.9991C15.5165 13.8463 15.2928 13.76 15.0575 13.7894C12.6257 14.0933 10.4066 16.0691 10.4066 18.8226V23.123C10.4066 23.5372 10.7424 23.873 11.1566 23.873H28.8523C29.2665 23.873 29.6023 23.5372 29.6023 23.123V18.8226C29.6023 16.0652 27.3762 14.0929 24.9452 13.7894ZM20.0015 17.0474C21.921 17.0474 23.5613 16.1244 24.9427 14.7985C26.9161 15.0999 28.6023 16.7028 28.6023 18.8226V22.873H11.4066V18.8226C11.4066 16.7049 13.0881 15.1001 15.0599 14.7986C16.442 16.1274 18.0823 17.0474 20.0015 17.0474Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M33.4825 11.6695C33.6109 11.5228 33.7886 11.4761 33.9506 11.5067C36.4177 11.7733 38.6971 13.7595 38.6971 16.5504V20.8449C38.6971 21.2591 38.3614 21.5949 37.9471 21.5949H31.6245C31.2103 21.5949 30.8745 21.2591 30.8745 20.8449L30.8745 18.8226L30.8745 18.818C30.8817 18.041 30.7346 17.2702 30.4418 16.5504C30.2088 15.9775 29.8872 15.446 29.4896 14.975C29.1097 14.5248 29.3566 13.8151 29.9388 13.7032C31.3091 13.4399 32.5579 12.7265 33.4825 11.6695ZM33.3603 11.9993C33.3603 12.1834 33.4505 12.3273 33.5781 12.4125C33.446 12.3219 33.3603 12.1699 33.3603 11.9993ZM37.6971 16.5504C37.6971 14.4358 36.0184 12.8352 34.053 12.5286C33.0842 13.5563 31.8407 14.2769 30.4772 14.6091C30.8407 15.0882 31.1405 15.6141 31.3681 16.1736C31.7104 17.0152 31.8826 17.9164 31.8745 18.8249V20.5949H37.6971V16.5504Z' fill='%23159789'/%3E%3C/svg%3E%0A");
  --icon-camera: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M26.9863 6.42109C26.8761 6.45633 26.759 6.46471 26.6449 6.44553C26.5308 6.46471 26.4138 6.45633 26.3036 6.42109C26.1933 6.38586 26.0932 6.32478 26.0113 6.24296C25.9295 6.16114 25.8684 6.06095 25.8332 5.95074C25.798 5.84053 25.7896 5.72349 25.8088 5.60938C25.8088 5.49957 25.8304 5.39084 25.8724 5.28939C25.9144 5.18795 25.976 5.09577 26.0537 5.01813C26.1313 4.94048 26.2235 4.87889 26.3249 4.83687C26.4264 4.79485 26.5351 4.77322 26.6449 4.77322C26.7547 4.77322 26.8635 4.79485 26.9649 4.83687C27.0664 4.87889 27.1585 4.94048 27.2362 5.01813C27.3138 5.09577 27.3754 5.18795 27.4174 5.28939C27.4595 5.39084 27.4811 5.49957 27.4811 5.60938C27.5003 5.72349 27.4919 5.84053 27.4566 5.95074C27.4214 6.06095 27.3603 6.16114 27.2785 6.24296C27.1967 6.32478 27.0965 6.38586 26.9863 6.42109Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M28.7767 0.509735H3.22333C2.81466 0.512146 2.42342 0.675557 2.13445 0.964531C1.84548 1.25351 1.68206 1.64475 1.67965 2.05341V7.73193C1.67965 8.14134 1.84229 8.53398 2.13179 8.82347C2.42128 9.11297 2.81392 9.27561 3.22333 9.27561H28.7767C29.1853 9.2732 29.5766 9.10978 29.8656 8.82081C30.1545 8.53183 30.3179 8.14059 30.3203 7.73193V2.0626C30.3204 1.65234 30.158 1.25875 29.8688 0.967794C29.5795 0.676839 29.1869 0.512163 28.7767 0.509735ZM2.63526 2.0626C2.63763 1.90981 2.69938 1.76394 2.80743 1.65589C2.91548 1.54784 3.06135 1.48609 3.21414 1.48372H28.7767C28.9295 1.48609 29.0753 1.54784 29.1834 1.65589C29.2914 1.76394 29.3532 1.90981 29.3555 2.0626V7.74112C29.3532 7.89391 29.2914 8.03978 29.1834 8.14783C29.0753 8.25588 28.9295 8.31763 28.7767 8.32H3.22333C3.07054 8.31763 2.92467 8.25588 2.81662 8.14783C2.70857 8.03978 2.64682 7.89391 2.64445 7.74112L2.63526 2.0626Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M15.9954 19.2268C16.4421 19.225 16.8782 19.0909 17.2487 18.8414C17.6192 18.5919 17.9075 18.2383 18.0772 17.8251C18.2468 17.4119 18.2903 16.9577 18.202 16.5198C18.1138 16.082 17.8978 15.6801 17.5813 15.3649C17.2648 15.0497 16.862 14.8353 16.4238 14.7488C15.9856 14.6623 15.5316 14.7076 15.1191 14.879C14.7066 15.0503 14.3541 15.3401 14.1061 15.7116C13.8582 16.0831 13.7258 16.5197 13.7258 16.9664C13.7258 17.264 13.7846 17.5587 13.8988 17.8336C14.0129 18.1084 14.1803 18.358 14.3911 18.568C14.602 18.778 14.8523 18.9443 15.1276 19.0574C15.4029 19.1704 15.6978 19.228 15.9954 19.2268ZM15.9954 15.68C16.2516 15.68 16.5021 15.756 16.7152 15.8984C16.9282 16.0407 17.0943 16.2431 17.1924 16.4798C17.2904 16.7165 17.3161 16.977 17.2661 17.2284C17.2161 17.4797 17.0927 17.7105 16.9115 17.8917C16.7303 18.0729 16.4995 18.1963 16.2482 18.2463C15.9968 18.2963 15.7363 18.2706 15.4996 18.1726C15.2629 18.0745 15.0605 17.9085 14.9182 17.6954C14.7758 17.4823 14.6998 17.2318 14.6998 16.9756C14.6986 16.8047 14.7312 16.6352 14.7958 16.477C14.8604 16.3187 14.9556 16.1748 15.076 16.0535C15.1965 15.9323 15.3397 15.836 15.4975 15.7703C15.6553 15.7046 15.8245 15.6708 15.9954 15.6708V15.68Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.68 16.9664C19.68 16.2395 19.4645 15.5289 19.0606 14.9245C18.6567 14.32 18.0827 13.849 17.4111 13.5708C16.7395 13.2926 16.0005 13.2198 15.2876 13.3616C14.5746 13.5034 13.9197 13.8535 13.4057 14.3675C12.8917 14.8815 12.5416 15.5364 12.3998 16.2494C12.258 16.9623 12.3308 17.7013 12.609 18.3729C12.8871 19.0445 13.3582 19.6186 13.9626 20.0224C14.5671 20.4263 15.2777 20.6418 16.0046 20.6418C16.9794 20.6418 17.9142 20.2546 18.6035 19.5653C19.2928 18.8761 19.68 17.9412 19.68 16.9664ZM16.0046 14.2099C16.5498 14.2099 17.0827 14.3715 17.5361 14.6744C17.9894 14.9773 18.3427 15.4078 18.5513 15.9115C18.76 16.4152 18.8146 16.9695 18.7082 17.5042C18.6018 18.0389 18.3393 18.5301 17.9538 18.9156C17.5683 19.3011 17.0771 19.5637 16.5424 19.67C16.0077 19.7764 15.4534 19.7218 14.9497 19.5131C14.446 19.3045 14.0155 18.9512 13.7126 18.4979C13.4097 18.0446 13.248 17.5116 13.248 16.9664C13.2601 16.2449 13.5545 15.5569 14.0682 15.0501C14.5819 14.5433 15.2738 14.2581 15.9954 14.2558L16.0046 14.2099Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M5.35507 9.74422H26.6449C26.7555 9.743 26.8652 9.76373 26.9677 9.80521C27.0702 9.84669 27.1635 9.90808 27.2421 9.98585C27.3208 10.0636 27.3832 10.1562 27.4258 10.2583C27.4684 10.3603 27.4903 10.4698 27.4903 10.5804V12.0046C27.4903 15.0508 26.2802 17.9722 24.1262 20.1262C21.9722 22.2802 19.0508 23.4903 16.0046 23.4903C12.9584 23.4903 10.037 22.2802 7.88299 20.1262C5.72901 17.9722 4.51891 15.0508 4.51891 12.0046V10.5804C4.51891 10.3586 4.60701 10.1459 4.76382 9.98912C4.92063 9.83231 5.13331 9.74422 5.35507 9.74422ZM21.8026 16.9664V20.7797C23.2528 19.8202 24.4414 18.5149 25.2611 16.9813C26.0808 15.4478 26.5059 13.7343 26.4979 11.9954V10.6998H5.45614V11.9954C5.45218 13.7376 5.88283 15.4533 6.70911 16.9872C7.53538 18.521 8.73119 19.8245 10.1882 20.7797V16.9664C10.1882 16.2038 10.3385 15.4487 10.6303 14.7441C10.9221 14.0396 11.3499 13.3994 11.8891 12.8601C12.4284 12.3209 13.0685 11.8931 13.7731 11.6013C14.4777 11.3095 15.2328 11.1593 15.9954 11.1593C16.758 11.1593 17.5132 11.3095 18.2177 11.6013C18.9223 11.8931 19.5624 12.3209 20.1017 12.8601C20.6409 13.3994 21.0687 14.0396 21.3605 14.7441C21.6524 15.4487 21.8026 16.2038 21.8026 16.9664ZM12.5713 13.5423C11.6632 14.4505 11.153 15.6821 11.153 16.9664V21.3585C12.6507 22.128 14.3117 22.5252 15.9954 22.5163C17.6785 22.5195 19.3382 22.1226 20.8378 21.3585V16.9664C20.8378 15.6821 20.3276 14.4505 19.4195 13.5423C18.5114 12.6342 17.2797 12.1241 15.9954 12.1241C14.7111 12.1241 13.4795 12.6342 12.5713 13.5423Z' fill='%23159789'/%3E%3C/svg%3E%0A");
  --icon-live: url("data:image/svg+xml,%3Csvg width='32' height='24' viewBox='0 0 32 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.87188 8.16212H8.47941V12.2044H11.1116V13.5299H6.87188V8.16212Z' fill='%23159789'/%3E%3Cpath d='M13.5934 8.16212H11.9295V13.5299H13.5934V8.16212Z' fill='%23159789'/%3E%3Cpath d='M14.2609 8.16212H16L17.2033 12.0258L18.3878 8.16212H20.0705L18.0776 13.5299H16.282L14.2609 8.16212Z' fill='%23159789'/%3E%3Cpath d='M25.0529 8.16212H20.6064V13.5299H25.0905V12.3173H22.2703V11.255H24.8085V10.1645H22.2327V9.30901H25.0529V8.16212Z' fill='%23159789'/%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M30.3737 19.7627C30.5333 19.7627 30.6863 19.6993 30.7992 19.5864C30.912 19.4736 30.9754 19.3206 30.9754 19.161V1.2432C30.9754 1.08364 30.912 0.930605 30.7992 0.817774C30.6863 0.704943 30.5333 0.641556 30.3737 0.641556H1.62627C1.4667 0.641556 1.31367 0.704943 1.20084 0.817774C1.08801 0.930605 1.02462 1.08364 1.02462 1.2432V19.1704C1.02462 19.33 1.08801 19.483 1.20084 19.5958C1.31367 19.7087 1.4667 19.7721 1.62627 19.7721H15.3984V22.1599H11.2056C11.1209 22.1492 11.035 22.1567 10.9534 22.1818C10.8718 22.207 10.7966 22.2492 10.7326 22.3056C10.6686 22.3621 10.6173 22.4315 10.5822 22.5093C10.5471 22.5871 10.5289 22.6715 10.5289 22.7568C10.5289 22.8421 10.5471 22.9265 10.5822 23.0043C10.6173 23.0821 10.6686 23.1515 10.7326 23.208C10.7966 23.2644 10.8718 23.3066 10.9534 23.3318C11.035 23.3569 11.1209 23.3644 11.2056 23.3537H20.7944C20.8791 23.3644 20.965 23.3569 21.0466 23.3318C21.1282 23.3066 21.2034 23.2644 21.2674 23.208C21.3314 23.1515 21.3827 23.0821 21.4178 23.0043C21.4529 22.9265 21.4711 22.8421 21.4711 22.7568C21.4711 22.6715 21.4529 22.5871 21.4178 22.5093C21.3827 22.4315 21.3314 22.3621 21.2674 22.3056C21.2034 22.2492 21.1282 22.207 21.0466 22.1818C20.965 22.1567 20.8791 22.1492 20.7944 22.1599H16.6016V19.7627H30.3737ZM2.22791 18.5688V1.83545H29.7721V18.5688H2.22791Z' fill='%23159789'/%3E%3C/svg%3E%0A");
  --gradient-1: radial-gradient(86.09% 94.14% at 27.58% 79.91%, rgba(163, 216, 121, 0.26) 0%, rgba(181, 205, 85, 0.127225) 39.7%, rgba(255, 255, 255, 0) 100%), radial-gradient(46.23% 123.89% at 97.17% 4.17%, #8EA472 9.35%, rgba(44, 74, 98, 0.27) 100%), linear-gradient(132.13deg, #1C3C56 -4.61%, #7B9675 63.57%);
  --black: #000;
  --dark-1: #262626;
  --dark-2: #2E2F31;
  --white: #fff;
  --white-muted: #B4B6B5;
  --accent: #159789;
  --accent-darker: #1C7D6D;
  --danger: #d32f2f;
  --radius: 2px;
  --avatar-sm: 42px;
  --avatar-md: 96px;
  --icon-height: 24px;
}

/* body & reset  */

* {
  font-family: 'Assistant', sans-serif;
}

button, input, textarea {
  border: 1px solid transparent;
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: var(--black);
  color: var(--white);
  font-family: 'Assistant', sans-serif;
  font-weight: 300;
  min-width: 280px;
}

/* layout */

#app {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

#header {
  flex: 0 0 auto;
  height: 58px;
  background: var(--black);
  align-items: center;
  display: flex;
  font-size: 19px;
}

#header .brand {
  flex: 0 0 auto;
  width: 82px;
  align-self: stretch;
}

#header .middle {
  flex: 1 0 auto;
  align-self: center;
  text-align: center;
}

#header .profile {
  flex: 0 1 auto;
  width: 68px;
}

#wrap {
  flex: 1 1 auto;
  background: var(--dark-1);
  overflow: auto;
  padding-bottom: 6vh;
}

#nav {
  flex: 0 0 auto;
  height: 62px;
  background: var(--black);
  display: flex;
}

/* UI elements */

button {
  min-width: 115px;
  min-height: 35px;
  background-color: var(--accent);
  color: var(--white);
  border-radius: var(--radius);
  cursor: pointer;
  flex: 0 1 auto;
  font-size: 14px;
  font-weight: 300;
  line-height: 11px;
}

button:hover, button:active, button:focus {
  background-color: var(--accent-darker);
}

input, .input-error {
  display: block;
  padding: 0;
  font-size: 11px;
  min-width: 210px;
}

input {
  background-color: transparent;
  border-bottom: 1px solid var(--white-muted);
  color: var(--white-muted);
  height: 28px;
  margin: 0 12vw;
  flex: 0 1 auto;
  padding-bottom: 0.25em;
  border-radius: 0;
}

.input-error {
  color: var(--danger);
  min-height: 20px;
  margin: 0.25em 12vw 0;
  flex: 1 0 auto;
  justify-self: stretch;
}

input:focus {
  border-bottom-color: var(--accent);
  color: var(--white);
}

input::placeholder {
  color: var(--accent);
}

form {
  display: flex;
  flex-direction: column;
  min-width: 236px;
  justify-content: space-between;
}

.dropdown {
  cursor: pointer;
}

.dropdown::after {
  content: " ";
  width: 7px;
  height: 10px;
  background: transparent var(--dummy) 50% 50%/7px 7px no-repeat;
  background-image: var(--icon-down);
  display: inline-block;
  margin: 0 0.3em;
}

.bg-bar {
  height: 12vh;
  min-height: 90px;
  background: var(--gradient-1)
}

.avatar {
  background: var(--dark-2) var(--dummy) 50% 0/cover no-repeat;
  color: var(--white-muted);
  margin: auto;
  text-align: center;
  text-decoration: none;
  display: block;
}

.avatar-sm {
  width: var(--avatar-sm);
  height: var(--avatar-sm);
  border-radius: var(--avatar-sm);
  line-height: var(--avatar-sm);
}

.avatar-md {
  width: var(--avatar-md);
  height: var(--avatar-md);
  border-radius: var(--avatar-md);
  line-height: var(--avatar-md);
  font-size: 24px;
  border: 2px solid var(--accent);
}

.file-picker {
  margin-top: -60px;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--accent);
  font-size: 11px;
}

.file-picker input {
  display: none
}

.file-picker .avatar {
  cursor: pointer;
  margin-bottom: 10px;
}

.logo {
  display: block;
  height: 100%;
  background: var(--accent) var(--dummy) 50% 50%/auto 38px no-repeat;
  background-image: var(--logo-black);
}

.nav, .nav li, .nav a {
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
}

.nav li, .nav a {
  flex: 1 0 auto;
  cursor: pointer;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  background: transparent var(--dummy) 50% 10px/auto var(--icon-height) no-repeat;
  line-height: 93px;
  color: var(--white);
  text-decoration: none;
}

.nav li.active, .nav a.active {
  background-color: var(--dark-2);
}

.nav .tab-games {
  background-image: var(--icon-games);
}

.nav .tab-team {
  background-image: var(--icon-team);
}

.nav .tab-camera {
  background-image: var(--icon-camera);
}

.nav .tab-live {
  background-image: var(--icon-live);
}

/* helpers */

.centered {
  width: max-content;
  margin: auto;
}

.height-cont {
  height: 100%
}

.my-45 {
  margin: 45px auto;
}

[role="button"] {
  user-select: none;
  cursor: pointer;
  outline: none;
}

/* animation */

button, input, textarea, .nav li, .nav a, .input-error, form {
  transition: 250ms ease;
}

.loading {
  opacity: .5
}